
<ion-content [fullscreen]="true">
  <div id="container">
    <div class="header">
      <button class="header-info">JOSE BUXO
        <br>
        <small>ID: AL2021011387</small>
        <br>
        <small>IT 2A</small>
      </button>
    </div>


    <div class="GPA">
      <button class="cumulative">CUMULATIVE GPA </button>
      <button class="semester">SEMESTER GPA</button>
    </div>

    <div class="buttons">

      <div class="row1">
        <button class="btn-map">
          SCHOOL MAP
        </button>
        <button class="btn-grades">
          CHECK MY GRADES
        </button>
      </div>

      <div class="row2">
        <button class="btn-classes">
          SEE MY CLASSES
        </button>
        <button class="btn-to-do-list">
          MY TO-DO-LIST
        </button>
      </div>

      <div class="row3">
        <button class="btn-events">
          UPCOMING SCHOOL EVENTS
        </button>
        <button class="btn-question">
          ASK A QUESTION
        </button>
      </div>

    </div>
  </div>
</ion-content>
