ion-content{
--background: #414C84;
}

.header-info{
  position: absolute;
  width: auto;
  height: auto;
  left: 1em;
  right: 1em;
  top: 3em;
  bottom: 83%;

  
  background: #A8C0FF;
  border-radius: 25px;
  color: black;
  text-align: left;
}


.cumulative{
position: absolute;
width: auto;
height: 20%;
left: 1em;
right: 51.5%;
top: 18.3%;

background: #A8C0FF;
border-radius: 25px;
}

.semester{
position: absolute;
width: auto;
height: 20%;
right: 1em;
left: 51.5%;
top: 18.3%;

background: #A8C0FF;
border-radius: 25px;

}

.buttons{
position: absolute;
width: auto;
height: auto;
bottom: 2em;
left: 1em;
right: 1em;
top: 39.7%;

background: #A8C0FF;
border-radius: 25px;

}

.btn-map{
  position: absolute;
  width: auto;
  height: 28%;
  margin: 0.5em;
  top: 1em;
  bottom: 80%;
  left: 1em;
  right: 50%;

background: rgba(66, 66, 66, 0.75);
mix-blend-mode: overlay;
box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}

.btn-grades{
  position: absolute;
  width: auto;
  height: 28%;
  margin: 0.5em;
  top: 1em;
  bottom: 80%;
  right: 1em;
  left: 50%;

background: rgba(66, 66, 66, 0.75);
mix-blend-mode: overlay;
box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;

}

.btn-classes{
  position: absolute;
  width: auto;
  height: 28%;
  margin: 0.5em;
  bottom: 35%;
  top: 34.5%;
  left: 1em;
  right: 50%;

background: rgba(66, 66, 66, 0.75);
mix-blend-mode: overlay;
box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;

}

.btn-to-do-list{
  position: absolute;
  width: auto;
  height: 28%;
  margin: 0.5em;
  bottom: 35%;
  top: 34.5%;
  right: 1em;
  left: 50%;

background: rgba(66, 66, 66, 0.75);
mix-blend-mode: overlay;
box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;

}

.btn-events{
  position: absolute;
  width: auto;
  height: 28%;
  margin: 0.5em;
  bottom: 1em;
  left: 1em;
  right: 50%;
  
  background: rgba(66, 66, 66, 0.75);
  mix-blend-mode: overlay;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  
}

.btn-question{
  position: absolute;
  width: auto;
  height: 28%;
  margin: 0.5em;
  bottom: 1em;
  right: 1em;
  left: 50%;
  
  background: rgba(66, 66, 66, 0.75);
  mix-blend-mode: overlay;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  
}

#container {
  text-align: center;
  position: absolute;
  width: auto;
  height: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}